html,
body {
    font-family: Helvetica;
    background-color: $color-secondary;
    height: 100%;
}

.bkg-chessboard {
    background-image: url("/images/chessboard.jpeg");
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 950px;
    width: 100%;
    background-color: $color-secondary;
}

.bkg-chessboard>.main-row {
    margin-top: 18%;
    height: 200px;
    line-height: 200px;
    @media (min-width: $screen-sm-min) {
        background-color: rgba(white, 0.75);
    }
    @media (max-width: $screen-sm-min) {
        height: 600px;
        line-height: 200px;
        background-color: rgba(white, 0.75);
    }
    >div {
        text-align: center;
        font-size: 8.5vw;
        @media (min-width: $screen-sm-min) {
            font-size: 2.75vw;
        }
        font-weight: 600;
        color: $color-primary;
        >div>div:first-child {
            margin-top: 20px;
            line-height: 105px;
            height: 105px;
            >span {
                text-align: center;
                line-height: 125px;
                height: 125px;
                font-size: 18vw;
                @media (min-width: $screen-sm-min) {
                    font-size: 6vw;
                }
                @include scale(0.75,
                1.0)
            }
        }
        >div>div:last-child {
            text-align: center;
            line-height: 75px;
            height: 75px;
        }
        >button {
            display: inline-block;
        }
    }
}

.navbar-username {
    font-size: 18px;
    >span:first-child {
        font-size: 21px;
        line-height: 21px;
        height: 21px;
        vertical-align: middle;
    }
}

.navbar-static-top {
    background: $color-primary;
    border: 0px;
    margin: 0px;
    .navbar-inner .container {
        width: 100%;
    }
}

.navbar-inverse .navbar-nav>li:not(:last-child):after {
    content: '';
    height: 18px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 32%;
    background-color: $color-link-top-menu;
}

.navbar-inverse .navbar-nav>.active {
    >a {
        background-color: $color-background-username;
    }
    >a:link {
        background-color: $color-background-username;
    }
    >a:visited {
        background-color: $color-background-username;
    }
    >a:hover {
        background-color: $color-background-username;
    }
    >a:active {
        background-color: $color-background-username;
    }
}

.navbar-header {
    &>.center-brand {
        //@media (min-width: $screen-xs-min) {}
        //@media (min-width: $screen-sm-min) {
        @include translate(-50%,
        0);
        left: 50%;
        position: absolute;
        //}
    }
    .navbar-brand {
        color: $color-text-invert;
        font-weight: 600;
        span {
            font-size: 22px;
            margin-right: 4px;
            @include scale(0.75,
            1.0);
            vertical-align: middle;
        }
        line-height: 22px;
    }
}

.navbar-middle {
    line-height: 32px;
    height: 32px;
    &>button {
        vertical-align: -50%;
        &>span {
            font-size: 20px;
        }
    }
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -30px;
}

.page-wrap:after {
    content: "";
    display: block;
    margin: 0;
}

.footer,
.page-wrap:after {
    height: 30px;
    margin: 0;
}

.footer {
    background-color: $color-primary;
    color: $color-text-invert;
    line-height: 30px;
    vertical-align: middle;
}

.editable-item:hover {
    &:after {
        display: inline;
        content: " \f044";
        font-family: FontAwesome;
        font-size: 18px;
        position: absolute;
        color: rgba(gray, 0.5);
        margin-left: 7px;
        font-style: normal;
    }
}

.nav-stacked>li {
    &>a {
        font-size: 19px;
        .fa {
            font-size: 21px;
        }
    }
    &>a>i {
        margin-right: 10px;
    }
}

.content-container {
    background-color: $color-secondary;
    padding: 10px 25px 10px 25px;
}