$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.bkg-chessboard {
    background-image: url("/images/chessboard.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    font-family: Helvetica;
    font-weight: 600;
    vertical-align: center;
    span {
        font-size: 22px !important;
    }
}