<div class="dialog-modal">
    <div class="dialog-header">
        <h3 class="dialog-title">Add Goal
            <p><small>What needs to be accomplished in order to achieve your vision?</small></p>
        </h3>
    </div>
    <div class="dialog-content">
        <form ng-submit="app.addgoal({id: lifeAreaId})">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="loginData.username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="loginData.password">
            </div>
            <button type="submit" class="btn btn-success btn-block">Sign In</button>
        </form>
    </div>
</div>