<div class="content-container">
    <div class="row swot-matrix">
        <div class="col-xs-12 col-sm-3 swot-box" ng-repeat="area in lifeAreas">
            <div class="row" ng-style="{ 'background-color' : area['color-bg']}">
                <div class="col-xs-1 swot-header">
                    <div><a class="btn btn-primary" ng-click="openAddGoalDialog(area._id)"><span class="fa fa-plus"></span></a></div>
                    <div class="swot-context-title" ng-style="{ 'color' : area['color']}">
                        <div>{{area.label}}</div>
                    </div>
                </div>
                <div class="col-xs-11">
                    <div class="row ">
                        <div class="col-xs-12 swot-content ">
                            <ul class="list-group swot-list-values ">
                                <li ng-click="openEditGoalDialog(area._id, goal)" class="list-group-item editable-item " ng-repeat="goal in goals | filter:{lifeArea: area._id}:strict">
                                    {{goal.description || "Edit this field. "}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>