<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="app"><span class="glyphicon glyphicon-queen" aria-hidden="true"></span> <span class="hidden-xs">Checkmate Life</span></a>
                <button ng-if="!isAuthenticated" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div ng-if="isAuthenticated" id="navbar" class="navbar-left navbar-middle">
                <button type="button" class="btn btn-primary">
                    <span class="sr-only">Toggle side menu</span>
                    <span class="fa fa-bars"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li ng-if="!isAuthenticated">
                        <a ng-href="#" ng-click="openLoginDialog()">Sign In</a>
                    </li>
                    <li ng-if="!isAuthenticated">
                        <a ng-href="#" ng-click="openRegistrationDialog()">Sign Up</a>
                    </li>
                    <li class="active" ng-if="isAuthenticated">
                        <a class="navbar-username"><span class="fa fa-user-circle" aria-hidden="true"></span> {{username}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>