<div class="container bkg-chessboard">
    <div class="row main-row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
            <button class="btn btn-success btn-block" ng-click="openLoginDialog()">Login</button>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row main-row">
                <div class="col-xs-12"><span class="glyphicon glyphicon-queen" aria-hidden="true"></span></div>
                <div class="col-xs-12"> Checkmate Life</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-warning btn-block" ng-click="openRegistrationDialog()">Register</button>
        </div>
    </div>
</div>