<div class="content-container">
    <div class="row row-purpose-box">
        <div class="col-xs-12 col-md-6 purpose-box" ng-click="missionEditClick.$show()">
            <div class="row">
                <div class="col-xs-2 col-lg-1 purpose-box-symbol text-center purpose-symbol-mission">
                    <span class="hidden-xs hidden-sm">Mission</span>
                    <span class="fa fa-road"></span>
                </div>
                <div class="col-xs-10 col-lg-11 purpose-box-content editable-item">
                    <span id="editable-text" editable-textarea="purpose.mission" e-rows="3" e-form="missionEditClick" onbeforesave="saveMission(purpose._id, $data)">{{purpose.mission || "Where do you want to be in 10 years?"}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 purpose-box" ng-click="visionEditClick.$show()">
            <div class="row">
                <div class="col-xs-2 col-lg-1 purpose-box-symbol text-center purpose-symbol-vision">
                    <span class="hidden-xs hidden-sm">Vision</span>
                    <span class="fa fa-bullseye"></span>
                </div>
                <div class="col-xs-10 col-lg-11 purpose-box-content editable-item">
                    <span id="editable-text" editable-textarea="purpose.vision" e-rows="3" e-form="visionEditClick" onbeforesave="saveVision(purpose._id, $data)">{{purpose.vision || "How do you want to be seen in 10 years?"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-purpose-box">
        <div class="col-xs-12 purpose-box">
            <div class="values">
                <div class="row row-purpose-box">
                    <div class="col-xs-1 purpose-box-symbol purpose-symbol-values">
                        <span class="hidden-xs hidden-sm">Values</span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="col-xs-9 text-center">
                        <h3>What are the things you most value in your journey?</h3>
                    </div>
                    <div class="col-xs-2 purpose-box-symbol text-right purpose-symbol-addvalue">
                        <a class="btn btn-primary" ng-click="addValue(purpose)"><span class="fa fa-plus"></span></a>
                        <a class="btn btn-primary" ng-click="toggleDelete()"><span class="fa fa-minus"></span></a>
                    </div>
                </div>
                <div class="row row-purpose-box">
                    <div class="col-xs-12">
                        <ul class="list-group purpose-list-values">
                            <li class="list-group-item" ng-repeat="value in purpose.values | orderBy: 'content'">
                                <span class="editable-item" e-form="valueEditClick" onbeforesave="saveValueContent(purpose._id, value._id, $data)" ng-click="valueEditClick.$show()" editable-text="value.content">
                                    {{value.content || "Edit this field with a value you have in life!"}}
                                </span>
                                <a class="btn btn-danger" ng-click="rmValue(purpose._id, value)" style="position: absolute; padding:1px 10px 1px 10px; right:7px;" ng-if="enableRemoveButton"><span class="fa fa-trash"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>