<div class="purpose-container">
    <div class="row row-purpose-box">
        <div class="col-xs-12 col-md-6 purpose-box" ng-click="missionEditClick.$show()">
            <div class="row">
                <div class="col-xs-2 col-lg-1 purpose-box-symbol text-center purpose-symbol-mission">
                    <span class="hidden-xs hidden-sm">Mission</span>
                    <span class="fa fa-road"></span>
                </div>
                <div class="col-xs-10 col-lg-11 purpose-box-content">
                    <span id="editable-text" editable-textarea="mission" e-rows="3" e-form="missionEditClick">{{mission || "Where do you want to be in 10 years?"}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 purpose-box" ng-click="visionEditClick.$show()">
            <div class="row">
                <div class="col-xs-2 col-lg-1 purpose-box-symbol text-center purpose-symbol-vision">
                    <span class="hidden-xs hidden-sm">Vision</span>
                    <span class="fa fa-bullseye"></span>
                </div>
                <div class="col-xs-10 col-lg-11 purpose-box-content">
                    <span id="editable-text" editable-textarea="vision" e-rows="3" e-form="visionEditClick">{{vision || "How do you want to be seen in 10 years?"}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-purpose-box">
        <div class="col-xs-12 purpose-box">
            <div class=" values">
                <div class="row row-purpose-box">
                    <div class="col-xs-1 purpose-box-symbol purpose-symbol-values">
                        <span class="hidden-xs hidden-sm">Values</span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="col-xs-10 text-center">
                        <h3>What are the things you most value in your journey?</h3>
                    </div>
                    <div class="col-xs-1 purpose-box-symbol text-right purpose-symbol-addvalue">
                        <a class="btn btn-primary" ng-click="AddValue()"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
                <div class="row row-purpose-box">
                    <div class="col-xs-12">
                        <ul class="list-group purpose-list-values">
                            <li ng-click="valueEditClick.$show()" editable-text="value.content" class="list-group-item" ng-repeat="value in values" e-form="valueEditClick">{{value.content}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>