<div class="dialog-modal">
    <div class="dialog-header">
        <h3 class="dialog-title">Create a new account
            <p><small>It's simple, and free.</small></p>
        </h3>

    </div>
    <div class="dialog-content">
        <form ng-submit="registerNewUser()">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="registration.username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="username">Email Address</label>
                <input type="email" class="form-control input-sm" id="email" placeholder="Email Address" ng-model="registration.email">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="registration.password">
            </div>
            <button type="submit" class="btn btn-warning btn-block">Sign Up</button>
        </form>
    </div>
</div>