<div class="content-container">
    <div class="row swot-matrix">
        <div class="col-xs-12 col-sm-3 swot-box" ng-repeat="context in contexts">
            <div class="row" ng-style="{ 'background-color' : context['color-bg']}">
                <div class="col-xs-1 swot-header">
                    <div><a class="btn btn-primary" ng-click="addValue(context._id)"><span class="fa fa-plus"></span></a></div>
                    <div class="swot-context-title" ng-style="{ 'color' : context['color']}">
                        <div>{{context.name}}</div>
                    </div>
                </div>
                <div class="col-xs-11">
                    <div class="row ">
                        <div class="col-xs-12 swot-content ">
                            <ul class="list-group swot-list-values ">
                                <li ng-click="swotEditClick.$show() " editable-text="value.description " class="list-group-item editable-item " ng-repeat="value in context.facts " e-form="swotEditClick ">
                                    {{value.description || "Edit this field. "}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>